@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Public Sans', sans-serif;
  }
  .link-underline {
    @apply absolute left-0 bottom-0 h-1 w-full scale-x-0 bg-gradient-to-r from-limeGreen to-brightCyan transition-transform duration-300 ease-out;
  }
  .link-underline:hover {
    @apply scale-x-100;
  }
  .link-transition {
    @apply transition-colors duration-300 ease-out;
  }
  .link-container {
    @apply relative flex h-full items-center;
  }
  .section-header {
    @apply text-[2rem] font-light tracking-tight text-darkBlue lg:text-[2.5rem];
  }
  .info-header {
    @apply mb-4 text-xl font-light text-darkBlue lg:mb-[1.625rem] lg:text-2xl;
  }
  .info-text {
    @apply text-[0.938rem] text-grayBlue lg:text-base;
  }
  .info-container {
    @apply max-w-[30.438rem];
  }
  .info-icon {
    @apply mx-auto mb-6 lg:mx-0 lg:mb-10;
  }
  .article {
    @apply flex max-w-md  flex-col gap-2 rounded-md bg-white hover:cursor-pointer;
  }
  .article-img {
    @apply min-h-[12.5rem] rounded-t-md object-cover;
  }
  .article-content {
    @apply flex flex-col gap-2 py-6 px-8 lg:p-6;
  }
  .article-author {
    @apply text-[0.625rem] text-grayBlue;
  }
  .article-title {
    @apply font-light text-darkBlue transition-colors duration-300 ease-out hover:text-limeGreen;
  }
  .article-text {
    @apply text-[0.813rem] text-grayBlue;
  }
  .footer-icon {
    @apply text-2xl transition-colors duration-300 ease-out hover:text-limeGreen;
  }
  .footer-link {
    @apply text-[0.938rem] transition-colors duration-300 ease-out hover:text-limeGreen;
  }
  .button {
    @apply h-[2.75rem] w-[10.188rem] rounded-[1.5rem] bg-gradient-to-br from-limeGreen to-brightCyan text-sm font-bold text-white transition-all duration-300 ease-out;
  }
  .button:hover {
    @apply opacity-40;
  }
  .hamburger {
    @apply relative h-5 w-6 cursor-pointer;
  }
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    @apply absolute top-[1px] left-0 h-[2px] w-6 bg-black transition-all duration-300 ease-out;
  }
  .hamburger-middle {
    @apply translate-y-[7px];
  }
  .hamburger-bottom {
    @apply translate-y-[14px];
  }
  .open .hamburger-middle {
    @apply hidden;
  }
}
.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}
.open .hamburger-top {
  transform: rotate(45deg) translateY(5px) translate(5px);
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(5px) translate(-5px);
}
