@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Public Sans', sans-serif;
  }
  .link-underline {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
    transform: scaleX(0);
    transition: transform 300ms ease;
  }
  .link-underline:hover {
    transform: scaleX(1);
  }
  .link-container {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
  }
  .section-header {
    @apply text-[2rem] font-light tracking-tight text-darkBlue lg:text-[2.5rem];
  }
  .info-header {
    @apply mb-4 text-xl font-light text-darkBlue lg:mb-[1.625rem] lg:text-2xl;
  }
  .info-text {
    @apply text-[0.938rem] text-grayBlue lg:text-base;
  }
  .info-container {
    @apply max-w-[30.438rem];
  }
  .info-icon {
    @apply mx-auto mb-6 lg:mx-0 lg:mb-10;
  }
}
.link-transition {
  transition: color 300ms ease-out;
}

.button {
  height: 2.75rem;
  width: 10.188rem;
  border-radius: 1.5rem;
  background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  color: white;
  font-size: 0.875rem;
  font-weight: 700;
  transition: all 0.3s ease-out;
}
.button:hover {
  opacity: 0.4;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 20px;
  position: relative;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 1px;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transition: all 500ms ease;
}
.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}
.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}
.open .hamburger-top {
  transform: rotate(45deg) translateY(5px) translate(5px);
}
.open .hamburger-middle {
  display: none;
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(5px) translate(-5px);
}
